#myCarousel {
    background-color: red;
}

#thor {
    height: 300px;
}

#panther {
    height: 300px;
}

#groot {
    height: 300px;
}

#witch {
    height: 300px;
}

#starlord {
    height: 300px;
}

#gamora {
    height: 300px;
}

#rocket {
    height: 300px;
}